<template>
  <div class="w-full pt-24 flex flex-col px-6 sm:px-32">
    <div
      class="flex justify-between items-center pb-2 border-b border-black z-50"
    >
      <h1 class="text-black text-3xl md:text-4xl font-bold flex-grow-0">
        {{ person?.Name ? person.Name : "Meet our friends" }}
      </h1>
      <p class="text-sm text-gray-500 self-end hidden sm:block">
        {{ person?.Role }}
      </p>
      <img v-if="!person" :src="smallG.src" alt="Logo aziendale" />
      <SendRequestButton
        v-else
        :is-sent="isSent"
        class="hidden sm:block"
        :disabled="checkIfAvailable() || isSent"
        @click="friendRequest()"
      />
    </div>
    <div class="block sm:hidden pt-2 z-50">
      <p class="text-sm text-gray-500 font-bold">
        {{ person?.Role }}
      </p>
      <SendRequestButton
        v-if="person"
        :is-sent="isSent"
        :disabled="checkIfAvailable() || isSent"
        class="mt-4"
        @click="friendRequest()"
      />
    </div>
  </div>
</template>

<script setup>
import { defineProps, ref } from "vue";
import SmallG from "../assets/Small-G.svg";
import SendRequestButton from "./SendRequestButton.vue";
import axios from "axios";

const apiKey = process.env.VUE_APP_API_KEY;

const smallG = new Image();
smallG.src = SmallG;

const isSent = ref(false);

const props = defineProps({
  person: Object,
});

const friendRequest = async () => {
  const res = await axios.post(
    "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/Friend%20request",
    {
      fields: { id: props.person?.id },
    },
    {
      headers: {
        Authorization: `Bearer ${apiKey}`,
      },
    }
  );
  if (res.status !== 200) return;

  isSent.value = true;
};

const checkIfAvailable = () => {
  if (
    props.person["Friend request"] &&
    props.person["Friend request"]?.find((v) => v !== apiKey)
  ) {
    return false;
  }
  return true;
};
</script>
