<template>
  <svg
    width="680"
    height="832"
    viewBox="0 0 680 832"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_4_1430)">
      <path
        d="M96.4536 354.067C145.206 386.536 211.337 395.946 267.675 395.946C346.351 395.946 406.087 379.381 446.884 346.252C466.587 330.798 482.389 310.938 493.016 288.27C503.644 265.601 508.802 240.757 508.076 215.733C508.583 185.103 500.511 154.941 484.772 128.655C469.033 102.369 446.254 81.0063 419.007 66.9791C400.935 57.8101 381.874 50.7345 362.195 45.8898C331.207 38.7278 299.48 35.2453 267.675 35.5149C188.999 35.5149 129.263 52.0797 88.4673 85.2094C68.7632 100.664 52.9618 120.524 42.334 143.194C31.7062 165.863 26.5486 190.709 27.2754 215.733C26.4891 244.277 32.6773 272.582 45.304 298.197C57.329 320.861 74.9323 340.089 96.4536 354.067ZM211.4 92.3114C224.871 69.0116 243.629 57.3608 267.675 57.3592C291.716 57.3592 310.475 69.01 323.95 92.3114C337.423 115.621 344.161 156.762 344.166 215.733C344.166 274.713 337.427 315.854 323.95 339.156C310.464 362.466 291.706 374.115 267.675 374.102C243.636 374.102 224.878 362.453 211.4 339.156C197.912 315.856 191.173 274.715 191.184 215.733C191.184 156.748 197.923 115.608 211.4 92.3114Z"
        fill="black"
        fill-opacity="0.05"
      />
      <path
        d="M505.343 492.612C474.372 460.938 431.574 445.101 376.947 445.101H169.33C136.546 445.101 113.779 441.824 101.029 435.269C95.896 433.036 91.442 429.491 88.1141 424.991C84.7863 420.492 82.7019 415.196 82.0703 409.637C82.0614 400.775 85.397 392.235 91.4111 385.724C56.3517 382.755 18.632 402.706 7.16303 436.509C-0.858682 458.929 -1.65145 483.299 4.89576 506.193C11.443 529.087 25.0011 549.355 43.6659 564.151C72.7921 586.733 114.68 598.021 169.33 598.014H376.947C464.367 598.014 508.076 621.678 508.075 669.007C508.075 706.143 487.495 737.271 446.334 762.39C400.569 790.325 346.534 803.337 293.386 806.446C237.89 809.852 182.332 800.864 130.745 780.134C141.458 772.109 150.16 761.706 156.165 749.746C162.169 737.786 165.313 724.595 165.346 711.213C165.143 697.832 161.734 684.693 155.406 672.9C149.077 661.106 140.013 651 128.972 643.428C117.785 636.072 104.954 631.591 91.6177 630.385C78.2815 629.178 64.8538 631.283 52.5275 636.513C36.007 644.089 22.1749 656.498 12.859 672.099C3.37325 686.83 -1.01351 704.266 0.372534 721.73C3.29344 741.814 13.5384 760.111 29.1378 773.102C72.6211 811.451 141.6 822.792 197.326 828.909C259.403 835.135 322.076 831.42 382.982 817.904C433.675 807.32 484.724 783.461 517.256 741.777C542.388 709.574 551.785 665.337 551.785 625.32C551.785 568.524 536.304 524.288 505.343 492.612Z"
        fill="black"
        fill-opacity="0.05"
      />
      <path
        d="M625.89 161.21C668.97 145.107 690.834 97.1456 674.724 54.0848C658.614 11.024 610.63 -10.8299 567.55 5.27282C524.469 21.3756 502.605 69.3372 518.716 112.398C534.826 155.459 582.809 177.313 625.89 161.21Z"
        fill="black"
        fill-opacity="0.05"
      />
    </g>
    <defs>
      <clipPath id="clip0_4_1430">
        <rect width="680" height="832" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>

<script setup></script>
