<template>
  <ul
    role="list"
    class="mx-auto sm:mt-10 grid max-w-2xl grid-cols-1 gap-x-6 sm:grid-cols-3 lg:max-w-4xl lg:gap-x-8 xl:max-w-none"
  >
    <li
      v-for="person in people"
      :key="person.id"
      class="flex flex-col gap-6 xl:flex-row z-10 mx-4 sm:px-0 border-b border-black border-opacity-20 py-8 sm:py-16"
      @click="emit('clicked', person.id)"
    >
    <div class="absolute z-20">
      <img class="p-2" :src="checkIfAvailable(person) ? yesImage.src : noImage.src" alt="">
    </div>
      <img
        class="sm:aspect-[4/5] sm:w-48 image-shadow flex-none rounded-lg object-cover"
        :src="getProfileImage(person.fields)"
        alt=""
        style="height: 244px;"
      />
      <div class="flex flex-col max-w-none sm:max-w-sm">
        <div class="flex justify-between items-center sm:block">
          <h3 class="text-lg font-semibold text-black">
            {{ person?.fields?.Name }}
          </h3>
          <ul role="list" class="flex gap-x-2 sm:hidden">
            <li v-if="person?.fields['Twitter url']" class="z-20">
              <a :href="person?.fields['Twitter url']" target="_blank">
                <img :src="twitterImage.src" alt="Twitter logo" />
              </a>
            </li>
            <li v-if="person?.fields['Linkedin url']" class="z-20">
              <a :href="person.fields['Linkedin url']" target="_blank">
                <img :src="linkedinImage.src" alt="Linkedin logo" />
              </a>
            </li>
          </ul>
        </div>

        <p class="text-base text-gray-500">
          {{ person?.fields?.Role }}
        </p>
        <p
          class="text-xs text-black sm:h-28 overflow-hidden pt-2 flex-grow sm:w-40"
        >
          {{ person?.fields?.Bio }}
        </p>
        <ul role="list" class="sm:flex gap-x-2 mt-8 hidden">
          <li v-if="person?.fields['Twitter url']" class="z-20">
            <a :href="person?.fields['Twitter url']" target="_blank">
              <img :src="twitterImage.src" alt="Twitter logo" />
            </a>
          </li>
          <li v-if="person?.fields['Linkedin url']" class="z-20">
            <a :href="person.fields['Linkedin url']" target="_blank">
              <img :src="linkedinImage.src" alt="Linkedin logo" />
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</template>

<script setup>
import { ref, onMounted, defineEmits } from "vue";
import axios from "axios";
import LinkedinImage from "../assets/Linkedin.svg";
import TwitterImage from "../assets/Twitter.svg";
import YesImage from "../assets/Yes.svg";
import NoImage from "../assets/No.svg";

const linkedinImage = new Image();
linkedinImage.src = LinkedinImage;

const twitterImage = new Image();
twitterImage.src = TwitterImage;

const yesImage = new Image();
yesImage.src = YesImage;

const noImage = new Image();
noImage.src = NoImage;

const apiKey = process.env.VUE_APP_API_KEY;

const people = ref([]);

const emit = defineEmits(["clicked"]);

onMounted(async () => {
  const res = await axios
    .get("https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/People", {
      headers: {
        Authorization: `Bearer ${apiKey}`,
      },
    })
    .then((res) => res)
    .catch((err) => err);

  if (res.status !== 200) return;

  people.value = res.data?.records;
  console.log(people.value);
});

const getProfileImage = (profile) => {
  return profile["Profile image"][0].url;
};

const checkIfAvailable = (friend) => {
  if (
    friend?.fields["Friend request"] &&
    friend?.fields["Friend request"]?.find((v) => v !== apiKey)
  ) {
    return true;
  }
  return false;
};
</script>

<style scoped>
.image-shadow {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.2));
}
</style>
