<template>
  <div class="flex flex-col sm:flex-row justify-start w-full gap-x-10 py-4 sm:py-16 z-10 px-4 max-w-2xl lg:max-w-6xl mx-auto">
    <div class="flex-grow min-w-max">
      <img
        class="rounded-md min-w-full overflow-hidden sm:aspect-[4/5] sm:w-72 object-cover"
        :src="getProfileImage(person?.fields)"
        width="304"
        height="390"
        alt="Profile Image"
        style="max-height: 390px; max-width: 360px;"
      />
    </div>

    <div class="flex flex-col gap-y-10 pt-10">
      <blockquote class="flex items-start gap-x-3">
        <img class="relative -top-4" :src="quoteImage1.src" alt="" />
        <p class="font-bold text-xl">
          {{ person?.fields?.Quote }}
        </p>
        <img class="relative top-4 self-end" :src="quoteImage2.src" alt="" />
      </blockquote>

      <p class="sm:pl-8">
        {{ person?.fields?.Bio }}
      </p>
    </div>
  </div>
</template>

<script setup>
import { defineProps } from "vue";
import QuoteImage1 from "../assets/Quote-1.svg";
import QuoteImage2 from "../assets/Quote-2.svg";

const quoteImage1 = new Image();
quoteImage1.src = QuoteImage1;

const quoteImage2 = new Image();
quoteImage2.src = QuoteImage2;

defineProps({
  person: Object,
});

const getProfileImage = (profile) => {
  return profile["Profile image"][0].url;
};
</script>
