<template>
  <button
    :class="[{'bg-opacity-40 cursor-not-allowed': disabled}, 'text-right font-bold text-xs bg-green px-6 py-3 rounded-full border border-black z-10']"
    :disabled="disabled"
    @click="$emit('click')"
  >
    {{isSent ? 'Request Sent' : 'Send Request'}}
  </button>
</template>

<script setup>
import { defineEmits, defineProps } from 'vue';

defineProps({
  disabled: Boolean,
  isSent: Boolean,
})

defineEmits(["click"])
</script>