<template>
  <section class="h-screen">
    <div
      class="absolute -top-10 sm:top-auto sm:bottom-0 overflow-hidden sm:right-0 z-0"
    >
      <img class="z-0 min-w-max" :src="bigG.src" alt="Logo di sfondo" />
    </div>
    <Header :key="session" :person="person?.fields" class="z-10" />
    <section class="flex justify-center">
      <PeopleList v-if="session === 'all'" @clicked="handleClickOnPerson" />
      <PersonDetail v-else-if="session === 'single'" class="z-10" :person="person" />
    </section>
  </section>
</template>

<script setup>
import Header from "./components/Header.vue";
import BigG from "./assets/Big-G.svg";
import PeopleList from "./components/PeopleList.vue";
import PersonDetail from "./components/PersonDetail.vue";
import { ref } from "vue";
import axios from "axios";

const apiKey = process.env.VUE_APP_API_KEY;

const bigG = new Image();
bigG.src = BigG;

const session = ref("all");
const person = ref();

const handleClickOnPerson = async (id) => {
  const res = await axios
    .get(`https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/People/${id}`, {
      headers: {
        Authorization: `Bearer ${apiKey}`,
      },
    })
    .then((res) => res)
    .catch((err) => err);

  if (res.status !== 200) return;

  person.value = res.data;
  session.value = "single";
};
</script>
